.topSalesSection {
  padding-bottom: 64px;
  width: 100%;
  .topSalesSection__content {
    h4 {
      text-align: center;
    }
    .topSalesSection__responsiveCardsContainer {
      padding-top: 64px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto auto;
      column-gap: 40px;
    }
  }
}
