@import "./variablesAndMixins.less";

@font-face {
  font-family: "MARIUPOL-REGULAR";
  src: url("./assets/fonts/mariupol/MARIUPOL-REGULAR.OTF") format("woff2"),
    url("./assets/fonts/mariupol/MARIUPOL-REGULAR.OTF") format("woff");
}

@font-face {
  font-family: "MARIUPOL-MEDIUM";
  src: url("./assets/fonts/mariupol/MARIUPOL-MEDIUM.OTF") format("woff2"),
    url("./assets/fonts/mariupol/MARIUPOL-MEDIUM.OTF") format("woff");
}

@font-face {
  font-family: "MARIUPOL-BOLD";
  src: url("./assets/fonts/mariupol/MARIUPOL-BOLD.OTF") format("woff2"),
    url("./assets/fonts/mariupol/MARIUPOL-BOLD.OTF") format("woff");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "MARIUPOL-REGULAR";
}

.wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;

  @media (min-width: @sizes[mobileSmall]) and (max-width: @sizes[desktop]) {
    max-width: 95%;
  }
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: none;
  outline: none;
  &::-webkit-search-cancel-button {
    display: none;
  }
}

a {
  cursor: pointer;
}

button {
  display: inline-block;
  padding: 0;
  background-color: unset;
  border: 0;
  cursor: pointer;
}

h1 {
  .textAddStyles("MARIUPOL-BOLD", 64px, @colors[color1]);
}

h2 {
  .textAddStyles("MARIUPOL-MEDIUM", 52px, @colors[color1]);
}

h3 {
  .textAddStyles("MARIUPOL-MEDIUM", 40px, @colors[color1]);
}

h4 {
  .textAddStyles("MARIUPOL-MEDIUM", 32px, @colors[color1]);
}

h5 {
  .textAddStyles("MARIUPOL-MEDIUM", 24px, @colors[color1]);
}

h6 {
  .textAddStyles("MARIUPOL-MEDIUM", 18px, @colors[color1]);
}
