@colors: {
  color1: #2d2926;
  color2: #505457;
  color3: #888789;
  color4: #c6c5c3;
  color5: #b2604b;
};

@sizes: {
  mobileSmall: 320px;
  mobileMedium: 375px;
  mobileLarge: 425px;
  tablet: 768px;
  desktop: 1024px;
  desktopLarge: 1440px;
  desktop4k: 2560px;
};

.displayFlexProps(@flexDirection, @alignItems, @justifyContent) {
  display: flex;
  flex-direction: @flexDirection;
  align-items: @alignItems;
  justify-content: @justifyContent;
}

.textAddStyles(@fontFamily, @fontsize, @color) {
  font-family: @fontFamily;
  font-size: @fontsize;
  color: @color;
}

.linkAddLineEffect(@color) {
  &::after {
    content: "";
    position: absolute;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: @color;
    transition: transform 0.5s ease-in-out;
  }
  &:hover {
    &::after {
      transform: translateX(100%);
    }
  }
}
