@import "../../../variablesAndMixins.less";

.bookDunaBlockStyles {
  .homeHeroSection__bookDunaContainer {
    position: absolute;
    padding: 0 0 0 164px;
    height: 100%;
    display: flex;
    align-items: center;

    .homeHeroSection__imageContainer {
      overflow: hidden;
      position: absolute;
      right: -5%;
      top: 6%;
      height: fit-content;
      img {
        width: 590px;
      }
    }
  }

  @media (max-width: @sizes[desktop]) {
    .homeHeroSection__bookDunaContainer {
      padding: 0 0 0 64px;
      .homeHeroSection__textAndButtonsContainer {
        h2 {
          white-space: unset;
        }
      }
      .homeHeroSection__imageContainer {
        top: 18%;
        img {
          width: 440px;
        }
      }
    }
  }

  @media (max-width: @sizes[tablet]) {
    .homeHeroSection__bookDunaContainer {
      padding: 0;
      justify-content: space-between;
      padding: 5% 0 15% 0;
      align-items: center;
      .homeHeroSection__imageContainer {
        position: static;
        margin: 0 0 0 18%;
        flex-shrink: 1;
        img {
          max-width: 350px;
        }
      }
    }
  }

  @media (max-width: @sizes[mobileLarge]) {
    .homeHeroSection__bookDunaContainer {
      padding: 5% 0 20% 0;
      .homeHeroSection__textAndButtonsContainer {
        h2 {
        }
      }
      .homeHeroSection__imageContainer {
        margin: 0 0 0 36%;
        img {
        }
      }
    }
  }

  @media (max-width: @sizes[mobileMedium]) {
    .homeHeroSection__bookDunaContainer {
      .homeHeroSection__textAndButtonsContainer {
        row-gap: 24px;
        .homeHeroSection__buttonsContainer {
          .displayFlexProps(column, center, unset);
          row-gap: 24px;
          .homeHeroSection__button:first-child {
            margin: 0;
          }
        }
      }
      .homeHeroSection__imageContainer {
        margin: 0 0 0 40%;
      }
    }
  }
}
