@import "../../../variablesAndMixins.less";

.HomeHeroSection__ReadInEnglishBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  .displayFlexProps(row, center, space-between);
  padding: 0 10%;
  .homeHeroSection__textAndButtonsContainer {
    .displayFlexProps(column, flex-start, unset);
    row-gap: 24px;
    h2 {
      font-size: 40px;
    }
    span {
      font-size: 24px;
      color: @colors[color2];
    }
  }
  .homeHeroSection__englishBooksImageContainer {
    position: absolute;
    left: 40%;
    img {
      max-width: 900px;
    }
  }
}

@media (max-width: @sizes[desktop]) {
  .HomeHeroSection__ReadInEnglishBlock {
    padding: 0 10% 0 64px;
    .homeHeroSection__textAndButtonsContainer {
      max-width: 60%;
      span {
        font-size: 18px;
      }
    }
    .homeHeroSection__englishBooksImageContainer {
      left: 45%;
      img {
        max-width: 600px;
      }
    }
  }
}

@media (max-width: @sizes[tablet]) {
  .HomeHeroSection__ReadInEnglishBlock {
    .displayFlexProps(column-reverse, center, unset);
    padding: 0 0 10% 0;
    .homeHeroSection__textAndButtonsContainer {
      max-width: 60%;
      align-items: center;
      span {
        font-size: 18px;
      }
    }
    .homeHeroSection__englishBooksImageContainer {
      bottom: 30%;
      left: 0;
      img {
        max-width: 800px;
      }
    }
  }
}

@media (max-width: @sizes[mobileLarge]) {
  .HomeHeroSection__ReadInEnglishBlock {
    padding: 0 0 50% 0;
    .homeHeroSection__textAndButtonsContainer {
      max-width: 100%;
      text-align: center;
      span {
        font-size: 18px;
      }
    }
    .homeHeroSection__englishBooksImageContainer {
      bottom: 50%;
      left: -10%;
      @media (max-width: @sizes[mobileMedium]) {
        left: -13%;
        img {
          max-width: 460px;
        }
      }
      @media (max-width: @sizes[mobileSmall]) {
        bottom: 50%;
        left: -14%;
        img {
          max-width: 400px;
        }
      }

      img {
        max-width: 500px;
      }
    }
  }
}
